# application configuration
PORT=5000
DOCKER_PORT=3000
JWT_SECRET="movies_secret"
JWT_EXPIRE_IN="1000001111111111111"
SALT_ROUND="12"

# database configuartion
DATABASE_URL="postgresql://neondb_owner:npg_6Fk9TgJXIwhl@ep-bitter-recipe-a4zkiaon-pooler.us-east-1.aws.neon.tech/movies_db?sslmode=require"
DATABASE_HOST="ep-bitter-recipe-a4zkiaon-pooler.us-east-1.aws.neon.tech"
DATABASE_PORT=5432
DATABASE_DOCKER_PORT=5432
DATABASE_USER="neondb_owner"
DATABASE_PASSWORD="npg_6Fk9TgJXIwhl"
DATABASE_NAME="movies_db"

# redis configuration (for data caching)
REDIS_PORT=6379
REDIS_DOCKER_PORT=6379

# tmdb configuration
TMDB_BASE_URL="https://api.themoviedb.org/3"
TMDB_API_KEY=
